doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  body
    header.header
      nav.nav(class=`${user ? 'nav--authenticated' : ''}`) 
        a.nav__title-link(href="/") Private Club
        if (!user)
          //- User is not logged in
          div.nav__links
            a.nav__link(href="log-in") Log in
            a.nav__link(href="sign-up") Sign up
        else
          //- User is logged in
          div.nav__wrapper
            div.nav__links
              if (user.membership === 'member' || user.membership === 'admin')
                a.nav__link.nav__link--message(href="/message/new") Create a message
              if (user.membership === 'none')
                a.nav__link(href="/membership/member") Become member
              if (user.membership !== 'admin')
                a.nav__link(href="/membership/admin") Become admin
            div.nav__account
              div.nav__account-wrapper
                img.nav__user-avatar(src=`/images/avatar-${user.avatar}.png`)
                span.nav__user-membership= (user.membership === 'none' ? 'Guest' : user.membership[0].toUpperCase() + user.membership.slice(1))
              form(method="POST" action="/logout" class="inline")
                button.nav__link.nav__link--btn(type="submit" role="link") Log out
    block content
