doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      nav.nav(class=`${user ? 'nav--authenticated' : ''}`) 
        a.nav__title-link(href="/") Private Club
        if (!user)
          //- User is not logged in
          div.nav__links
            a.nav__link(href="log-in") Log in
            a.nav__link(href="sign-up") Sign up
        else
          //- User is logged in
          div.nav__links
            if (user.membership === 'member' || user.membership === 'admin')
              a.link(href="/message/new") Create a message
            if (user.membership === 'none')
              a.nav__link(href="/membership/member") Become member
            if (user.membership !== 'admin')
              a.nav__link(href="/membership/admin") Become admin
          div.nav__account
            div.nav__account-wrapper
              img.nav__user-avatar
              span.nav__user-membership= user.membership
            form(method="POST" action="/logout" class="inline")
              button.nav__link.nav__link--btn(type="submit" role="link") Log out
    block content
