extends layout 

block content 
  form.form(action="" method="POST")
    if (errors)
      div.form__errors
        for error in errors
          span.form__error= error.msg
    if (incorrectWordMsg)
      span.form__error= incorrectWordMsg
    div.form__input-wrapper
      label.form__label(for="secretWord") Enter the secret word
      input.form__input(type="text" name="secretWord" id="secretWord" value=`${secretWord ? secretWord : ""}`)
    button.form__submit(type="submit")= `${title}!`