extends layout 

block content
  form.form.form--message(action="" method="POST")
    if (errors)
      div.form__errors
        for error in errors
          span.form__error= error.msg
    div.form__input-wrapper
      label.form__label(for="message") Enter message text
      textarea.form__textarea(type="text" name="message" id="message"  placeholder="I really love hugs") !{message ? message : ""}
    button.form__submit(type="submit") Send