body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.inline {
  display: inline;
}

.message {
  margin-top: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 12px;
}

img {
  width: 95px;
}
