@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* General */

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font: 16px 'Nunito', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #fff;
  background: #1a1a1a;
}

a {
  color: #00b7ff;
}

.inline {
  display: inline;
}

/* Nav */

.header {
  width: 100%;
}

.nav {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  background: #131313;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__title-link {
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(241, 241, 241);
  text-decoration: none;
}

.nav__links {
  margin-left: auto;
  display: flex;
  gap: 22px;
}

.nav__link {
  color: rgb(255, 141, 99);
  text-decoration: none;
  font-weight: bold;
}

.nav__link--message {
  color: rgb(255, 68, 68);
}

.nav__link:active {
  color: rgb(255, 170, 0);
}

.nav__account {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.nav__account-wrapper {
  margin-left: 0.8rem;
  margin-right: 1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.nav__link--btn {
  background: none;
  font-size: 0.9rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.942);
  cursor: pointer;
}

.nav__user-avatar {
  width: 50px;
  height: 50px;
  background: #1a1a1a;
  border-radius: 16px;
  padding: 5px;
}

.nav__user-membership {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(255, 190, 78);
}

@media (max-width: 850px) {
  .nav {
    padding: 10px 15px;
  }
  .nav__title-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .nav__title-link {
    font-size: 1rem;
  }
  .nav {
    flex-flow: column;
    font-size: 0.9rem;
  }

  .nav__account {
    margin-left: 1rem;
  }

  .nav__account-wrapper {
    margin-inline: 0.3rem;
  }

  .nav__link--btn {
    margin-left: 0.1rem;
    min-width: max-content;
  }
}

/* Messages */

.messages {
  padding: 50px;
  max-width: 1000px;
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.message {
  --avatar-width: 100px;
  width: 100%;
  padding: 30px 26px;

  font-size: 1.2rem;
  border-radius: 32px;
  background: #131313;
  animation: opacity 0.3s forwards ease-in;
}

.message__wrapper {
  display: flex;
}

.message__wrapper--message-info {
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.728);
}

.message__wrapper--main {
  justify-content: center;
  gap: 24px;
  margin-bottom: 16px;
}

.message__text {
  width: 100%;
  padding: 1.5rem;
  background: #1a1a1a;
  border-radius: 32px;
}

.message__small {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.464);
}

.avatar-wrapper {
  background: #1a1a1a;
  border-radius: 32px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--avatar-width) + 1.5rem);
  height: calc(var(--avatar-width) + 1.5rem);
}

.message__date {
  margin-right: 8px;

  padding: 0.5rem;

  background: #1a1a1a;
  border-radius: 32px;
}

.message__user-name {
  padding: 0.5rem;

  font-weight: bold;
  color: #68d9ff;

  background: #1a1a1a;
  border-radius: 32px;
}

.message__user-name--admin {
  color: #ffcf68;
}

.message__edit {
  margin-left: auto;
  margin-right: 15px;
}

.message__edit button[type='submit'] {
  background: none;
  color: rgba(255, 255, 255, 0.728);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.message__delete {
  margin-left: auto;
  line-height: 0.8;
  font-weight: bold;
}

.message__delete button[type='submit'] {
  background: none;
  color: #fff;
  cursor: pointer;
}

.message__user-avatar {
  width: var(--avatar-width);
  height: var(--avatar-width);
}

@media (max-width: 700px) {
  .messages {
    padding-inline: 10px;
  }
}

@media (max-width: 540px) {
  .message {
    --avatar-width: 40px;
    padding: 20px;
    font-size: 1rem;
  }

  .message__wrapper--main {
    flex-flow: column;
    align-items: center;
  }

  .message__delete {
    order: 0;
  }

  .avatar-wrapper {
    order: 1;
  }

  .message__text {
    order: 2;
  }
}
